apiVersion: cockpit.scaleway.upbound.io/v1alpha1
kind: AlertManager
metadata:
  annotations:
    meta.upbound.io/example-id: cockpit/v1alpha1/alertmanager
  labels:
    testing.upbound.io/example-name: main
  name: main
spec:
  forProvider:
    contactPoints:
    - email: alerts@example.com
    preconfiguredAlertIds: |-
      ${[
          for alert in data.scaleway_cockpit_preconfigured_alert.all.alerts :
          alert.preconfigured_rule_id
          if alert.product_name == "instance"
        ]}
    projectIdSelector:
      matchLabels:
        testing.upbound.io/example-name: main

---

apiVersion: account.scaleway.upbound.io/v1alpha1
kind: Project
metadata:
  annotations:
    meta.upbound.io/example-id: cockpit/v1alpha1/alertmanager
  labels:
    testing.upbound.io/example-name: project
  name: project
spec:
  forProvider:
    name: my-observability-project

---

apiVersion: cockpit.scaleway.upbound.io/v1alpha1
kind: Cockpit
metadata:
  annotations:
    meta.upbound.io/example-id: cockpit/v1alpha1/alertmanager
  labels:
    testing.upbound.io/example-name: main
  name: main
spec:
  forProvider:
    projectIdSelector:
      matchLabels:
        testing.upbound.io/example-name: project
