apiVersion: object.scaleway.upbound.io/v1alpha1
kind: WebsiteConfiguration
metadata:
  annotations:
    meta.upbound.io/example-id: object/v1alpha1/websiteconfiguration
  labels:
    testing.upbound.io/example-name: main
  name: main
spec:
  forProvider:
    bucket: some-unique-name
    indexDocument:
    - suffix: index.html

---

apiVersion: object.scaleway.upbound.io/v1alpha1
kind: Bucket
metadata:
  annotations:
    meta.upbound.io/example-id: object/v1alpha1/websiteconfiguration
  labels:
    testing.upbound.io/example-name: main
  name: main
spec:
  forProvider:
    acl: public-read
    name: MyBucket

---

